.wrapper {
    display: flex;
    flex-direction: row!important;
    justify-content: center!important;
    align-items: flex-start!important;
}

.wrapper span {
    margin: 2vh;
    border-radius: 2vh;
    background: rgba(0,0,0,0.4);
    box-shadow: var(--box-shadow-1);
    padding: 1vh;
}

.wrapper span * {
    max-width: 98%;
}